/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp TAB     &kp Q     &kp W     &kp E     &kp R     &kp T         &kp Y     &kp U     &kp I     &kp O     &kp P     &kp MINUS
                &kp LSFT    &kp A     &kp S     &kp D     &kp F     &kp G         &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp LCTRL   &kp Z     &kp X     &kp C     &kp V     &kp B         &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp DEL
                             &kp LALT  &mo NUM   &kp SPACE          &lt MOUSE ENTER> &mo FUNC  &kp BSPC
            >;
        };

        num_layer {
            bindings = <
                &trans &kp 1 &kp 2 &kp 3 &kp 4 &kp 5         &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp MINUS
                &trans &none &none &kp DEL &kp ESC &kp RGUI  &kp GRAVE &kp EQUAL &kp BSLASH &kp LBKT &kp RBKT &kp UNDERSCORE
                &trans &k LCTRL &k LCTRL &k LCTRL &k LCTRL &k LCTRL  &kp L &none &none &none &none &kp DEL
                         &trans &trans &trans         &trans &mo &trans &trans
            >;
        };

        func_layer {
            bindings = <
                &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5       &none &kp PG_UP &kp UP &kp PG_DN &kp PSCRN &kp VOL_UP
                &trans &kp F6 &kp F7 &kp F8 &kp F9 &kp F10      &none &kp LEFT &kp DOWN &kp RIGHT &none &kp VOL_DOWN
                &trans &kp F11 &kp F12 &none &none &none        &none &kp HOME &none &kp END &none &kp MUTE
                        &trans &mo &trans &trans         &trans &trans &trans
            >;
        };

        mouse_layer {
            bindings = <
                &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5       &mkp BTN2 &mkp WH_U &mkp M_UP &mkp WH_D &kp PSCRN &kp VOL_UP
                &trans &kp F6 &kp F7 &kp F8 &kp F9 &kp F10      &mkp BTN1 &mkp M_LEFT &mkp M_DOWN &mkp M_RIGHT &none &kp VOL_DOWN
                &trans &kp F11 &kp F12 &none &none &none        &none &kp HOME &none &kp END &none &kp MUTE
                        &trans &mo &trans &trans         &trans &trans &trans
            >;
        };

        
    };
};

